---
import Layout from "@/components/layout.astro";
import Main from "@/components/main.astro";
---

<Layout>
  <Main>
    <div
      class="fixed left-0 top-0 w-fit rounded-md bg-zinc-100 px-4 py-2 shadow-lg"
    >
      <div class="flex items-center gap-3 text-3xl font-bold drop-shadow">
        <p class="text-3xl font-bold">
          Ya somos Afiliados en la plataforma morada 🥳🎉
        </p>
      </div>
    </div>
  </Main>
</Layout>
