---
import Layout from "@/components/layout.astro";
import Main from "@/components/main.astro";
---

<Layout>
  <Main>
    <div class="h-full w-full bg-gradient-to-b from-yellow-400 to-yellow-700">
    </div>
  </Main>
</Layout>
