---
import Layout from "@/components/layout.astro";
import Main from "@/components/main.astro";
---

<Layout>
  <Main>
    <div class="h-full w-full bg-gradient-to-b from-blue-400 to-blue-700"></div>
  </Main>
</Layout>
