---
import Layout from "@/components/layout.astro";
import {
  FaCodepen,
  FaDiscord,
  FaFacebook,
  FaGithub,
  FaTiktok,
  FaTwitch,
  FaWhatsapp,
  FaXTwitter,
  FaYoutube,
} from "react-icons/fa6";
---

<Layout>
  <div class="flex max-h-screen justify-between">
    <section
      class="font-display custom-shadow-xl mx-20 my-6 flex flex-col justify-center gap-10 text-8xl text-white"
    >
      <div class="flex flex-col gap-8">
        <p>Visita nuestras redes</p>
        <p>👇 Todos los links</p>
        <p>
          <span>🔗 iniz.lol </span>
        </p>
      </div>
      <div
        class="flex h-[45vh] w-fit flex-col flex-wrap items-center justify-center gap-20"
      >
        <FaTiktok className="animate-pulse" />
        <FaDiscord className="animate-pulse" />
        <FaFacebook className="animate-pulse" />
        <FaWhatsapp className="animate-pulse" />
        <FaTwitch className="animate-pulse" />
        <FaYoutube className="animate-pulse" />
        <FaXTwitter className="animate-pulse" />
        <FaCodepen className="animate-pulse" />
        <FaGithub className="animate-pulse" />
      </div>
      <p>
        <span>quieroserweb.dev</span>
      </p>
    </section>

    <section
      class="font-display custom-shadow-xl mx-10 my-6 flex flex-col text-right text-7xl text-white"
    >
      <p>Todos los días entre semana</p>
      <p>7pm México Central</p>
    </section>
  </div>
</Layout>

<style>
  @import url(https://fonts.googleapis.com/css?family=Caveat+Brush);

  .font-display {
    font-family: "Caveat Brush", serif;
  }
  body {
  }
</style>
