---
import Layout from "@/components/layout.astro";
import Username from "@/overlays/username.astro";
import TopRight from "@/overlays/top-right.astro";
---

<Layout>
  <main class="h-screen w-screen">
    <TopRight />
    <Username />
  </main>
</Layout>
