---
import Layout from "@/components/layout.astro";
import Username from "@/overlays/username.astro";
import TopRight from "@/overlays/top-right.astro";
import Candle from "@/components/thematics/candle.astro";
import Spider from "@/components/thematics/spider.astro";
---

<Layout>
  <main class="h-screen w-screen">
    <!-- <TopRight /> -->
    <Username />
    <div class="absolute bottom-0 left-0">
      <Candle />
    </div>
    <div class="absolute bottom-0 left-[17rem]">
      <Candle />
    </div>
    <div class="absolute -right-20 -top-52 scale-75">
      <Spider />
    </div>
  </main>
</Layout>
