<div
  class="inline-flex w-fit rounded-bl bg-red-600 px-4 py-2 text-4xl font-bold text-neutral-100"
>
  <span class="relative"
    >&bull;<span class="absolute left-0 animate-ping">&bull;</span></span
  >
  <span> LIVE </span>
</div>
