---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<main
  class:list={["flex h-screen w-screen items-center justify-center", className]}
>
  <slot />
</main>
